[submodule "sqlpp11/src"]
	path = sqlpp11/src
	url = https://github.com/rbock/sqlpp11.git
[submodule "sqlpp11-connector-sqlite3/src"]
	path = sqlpp11-connector-sqlite3/src
	url = https://github.com/rbock/sqlpp11-connector-sqlite3.git
[submodule "date/src"]
	path = date/src
	url = https://github.com/HowardHinnant/date.git
[submodule "cpprestsdk/src"]
	path = cpprestsdk/src
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "rapidjson/src"]
	path = rapidjson/src
	url = https://github.com/miloyip/rapidjson.git
[submodule "catch/src"]
	path = catch/src
	url = https://github.com/philsquared/Catch.git
